<style type="text/css">

div.pagination {
	padding: 3px;
	margin: 3px; 
}

div.pagination a {
	margin: 2px;
	border: 1px solid #000000;
	
	color: #000000; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px
}
div.pagination a:hover, div.pagination a:active {
	margin: 2px;
		border: 1px solid #800000;
		
		background-color: #800000;
		color: #FFFFFF; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; text-decoration:none
}
div.pagination span.current {
	margin: 2px;
		border: 1px solid #000000;		
		background-color: #000000;
		color: #FFFFFF; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px
	}
div.pagination span.disabled {
		margin: 2px;
		border: 1px solid #999999;
	
		color: #999999; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px
	}
	
a:hover.list { font-variant: small-caps; 
               text-decoration: underline; text-transform: capitalize; 
               color: #006699; line-height: 200%; }
a.list       { text-transform: capitalize; font-variant: small-caps; 
               color: #FF0000; text-decoration: underline; 
               line-height: 200%; }	

</style>
