<style type="text/css">

a.onlinelist:hover
{
	background:#09f;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.onlinelistt
{
	color: red;
	width: 17%;
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
}
.onlinelistn
{
	color: purple;
	display: inline-block;
	width: 17%;
	text-align: center;

}
.onlinelistj
{
	color: green;
	display: inline-block;
	width: 17%;
	text-align: center;
}
.onlinelistp
{
	color: blue;
	display: inline-block;
	width: 17%;
	text-align: center;

}
.onlinelistg
{
	color: orange;
	display: inline-block;
	width: 17%;
	text-align: center;

}

</style>