<style type="text/css">


* 
body { }
html { overflow-y: scroll; }
a { text-decoration: none; }
a:focus { outline: 0; }
p { margin: 0 0 20px 0; }
#page-wrap { width: 640px; margin: 30px;}
h1 { font: bold 40px Sans-Serif; margin: 0 0 20px 0; }

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#profile { background: #eee; padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#profile .nav { overflow: hidden; margin: 0 0 10px 0; }
#profile .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#profile .nav li.last { margin-right: 0; }
#profile .nav li a { display: block; padding: 5px; background: #959290; color: white; text-align: center; border: 0; }
#profile .nav li a:hover { background-color: #111; }

#profile ul { list-style: none; }
#profile ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#profile ul li a:hover { background: #fe4902; color: white; }
#profile ul li:last-child a { border: none; }

#profile ul li.nav0 a.current, #profile ul.visitormessage li a:hover { background-color: #0575f4; color: white; }
#profile ul li.nav1 a.current, #profile ul.aboutme li a:hover { background-color: #d30000; color: white; }
#profile ul li.nav2 a.current, #profile ul.adopts li a:hover { background-color: #8d01b0; color: white; }
#profile ul li.nav3 a.current, #profile ul.friends li a:hover { background-color: #FE4902; color: white; }
#profile ul li.nav4 a.current, #profile ul.contactinfo li a:hover { background-color: #Eac117; color: white; }


</style>
