body {
background:#ccc;
color:#222;
font-family:Verdana, Arial, Tahoma, sans-serif;
}

br {
display: block;
margin: 3px 0;
}


table {
width:80%;
margin:0 auto;
border:0;
}

th, td {
margin:5px 10px;
padding:5px;
background:#FBFAF9;
vertical-align:top;
}  

#logo {
font-size:18px;
vertical-align:center;
text-align:justify;
color:#aaa;
background:#222;
border-bottom:1px solid #ccc;
}

#logo b, strong {
font-style: oblique;
}

#admin {
vertical-align: center;
text-align:right;
}

#menu {
background:#272727;
font-size:12px;
vertical-align:top;
color:#fff;
font-weight:bold;
}

#menu a {
display:block;
padding:2px;
color:#fff;
font-weight:bold;
text-decoration:none;
}

.accordionButton {  
    display:block;
    cursor: pointer;
    padding:10px 0 0 10px;
    margin:1px;
    }
 
.accordionContent {    
    width:90%;
    display:block;
    float: left;
    display: none;
    padding:10px;
	margin: 0 0 10px 7%;
    }
	
.accordionContent a:before { content: "- ";}	
	
#admin a {
color:#fff;
text-decoration:none;
border-bottom:1px solid #efefef;
font-weight:normal;
}

#admin a:hover {
color:#1E90FF;
border-bottom:0;
text-decoration:underline;
}

#content {
font-size:14px;
background:#F0F8FF;
}

#content {
color:#222;
}

#content p {
margin:2px;
padding:3px;
}

#stats {
border:0px solid #ccc;
border-radius:10px;
-moz-border-radius:10px;
width:200px;
padding:7px;
margin:10px;
float:left;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
font-size:11px;
}

#stats p, #stats center {
padding:2px;
}

#stats span {
display:block;
width:50%;
float:left;
}

#stats strong {
color:#1E90FF;
font-style:italic;
border-bottom:1px solid #ccc;
}

a {
color:#6495ED;
}

a:hover {
color:#708090;
}

.banner {
background:#B0C4DE;
}  