@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
   background-image: url("../../templates/tutorial/images/nightlysky.jpg");
   background-size: cover;
   font-family: 'Dosis', sans-serif;
}

.wrapper{
	width:60%;
	min-width:800px;
	margin:0 auto;
}

.item1 { grid-area: header; padding: 0px; font-size: 15px;}
.item2 { grid-area: menu; padding: 30px 20px; font-size: 25px;}
.item3 { grid-area: main; padding: 30px 20px; font-size: 20px; font-family: 'Raleway', sans-serif;}
.item4 { grid-area: right; padding: 30px 20px; font-size: 25px;}
.item5 { grid-area: footer; padding: 30px 20px; font-size: 25px;}
.item6 { grid-area: logo; padding: 30px 20px; font-size: 25px;}

.grid-container {
  display: grid;
  grid-template-areas:
	'logo logo logo logo logo logo'
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #0a101e;
  padding: 10px;
}
.grid-container > div {
  background-color: #99a8c6;
  text-align: center;
}

.button {
    background-color: #514777; /* Green */
    border: none;
	border-radius:17px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border: solid #1b1a33 4px;
	width:100px;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

div#forum {
	min-width:500px;
	overflow:hidden;
}
div#forum div.content {
	min-width:500px;
	padding:0;
	border-style:solid;
	border-width:1px;
	border-color:#324870;
	background-color:#bcc9db;
}
div#forum div.content ul.forum {
	list-style-type:none;
	margin:0;
	padding:0;
	width:860px;
	overflow:hidden;
}
div#forum div.content ul.forum li {
	margin:0;
	padding:0;
	width:860px;
	overflow:hidden;
}
div#forum div.content ul.forum li.header {
	height:35px;
	background-color:#324870;
}
div#forum div.content ul.forum li.header ul {
	min-height:35px;
	overflow:hidden;
}
div#forum div.content ul.forum li.header ul li {
	width:160px;
	min-height:35px;
	float:left;
	padding:0;
}
div#forum div.content ul.forum li.header ul li.first {
	width:485px;
	float:left;
	min-height:35px;
	background-color:transparent;
	padding:0 0 0 35px;
}
div#forum div.content ul.forum li.header ul li h1 {
	margin:0;
	font-size:16px;
	height:35px;
	line-height:35px;
	font-weight:normal;
}
div#forum div.content ul.forum li.header ul li.first h1 a {
	font-size:16px;
	color:#412b2d;
	height:35px;
	line-height:35px;
	text-decoration:none;
}
div#forum div.content ul.forum li.header ul li.last {
	width:178px;
	float:left;
	min-height:35px;
}
div#forum div.content ul.forum li ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:860px;
	min-height:90px;
	overflow:hidden;
	display:block;
}
div#forum div.content ul.forum li ul li.first {
	width:520px;
	float:left;
	background-color:transparent;
}
div#forum div.content ul.forum li ul li.first h2 {
	font-size:14px;
	height:50px;
	line-height:50px;
	padding:0 0 0 50px;
	margin:0 0 0 50px;
}
div#forum div.content ul.forum li ul li.first h2 a {
	font-size:14px;
	color:#412b2d;
	font-weight:normal;
	text-decoration:none;
}
div#forum div.content ul.forum li.odd {
	background-color:#f6f0eb;
}
div#forum div.content ul.forum li ul li {
	width:160px;
	float:left;
	padding:20px 0 20px 0;
}
div#forum div.content ul.forum li ul li label {
	display:block;
	font-family:Arial;
	font-size:14px;
	color:#836f71;
	line-height:18px;
}
div#forum div.content ul.forum li ul li label span {
	font-family:Arial;
	font-size:14px;
	color:#c3b299;
}
div#forum div.content ul.forum li ul li.last {
	width:178px;
	float:left;
}